# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
.jekyll-metadata
_site
.astro
dist

# RubyGems
*.gem

# NPM dependencies
node_modules

# IDE configurations
.idea
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
!.vscode/tasks.json

# Misc
_sass/dist
assets/js/dist

*.log

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
